version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: masa_frontend
    ports:
      - "80:5173"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
